# Install: install-gitconfig-local.sh
# cp gitconfig.local.symlink.example gitconfig.local.symlink
# ln -s ~/.dotfiles/git/gitconfig.local.symlink ~/.gitconfig.local
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = GIT_CREDENTIAL_HELPER
[diff]
	tool = GIT_DIFFTOOL
[merge]
	tool = GIT_MERGETOOL
